<div class="container my-3" style="width: 40%">
  <h3>Register</h3>
  <form class="my-4" [formGroup]="registerForm" (ngSubmit)="sendForm()">
    <!-- Name and last name -->
    <div class="row mb-3">
      <div class="col">
        <label class="form-label">Name*</label>

        <input
          type="text"
          class="form-control"
          placeholder="First name"
          formControlName="name"
        />
        <span class="form-text text-danger" *ngIf="validateLabel('name')">
          The name is invalid
        </span>
      </div>
      <div class="col">
        <label class="form-label">Last name*</label>
        <input
          type="text"
          class="form-control"
          placeholder="Last name"
          formControlName="lastName"
        />
        <span class="form-text text-danger" *ngIf="validateLabel('lastName')"
          >The last name is invalid</span
        >
      </div>
    </div>
    <!-- Username and location -->
    <div class="row mb-3">
      <div class="col">
        <label for="username">Username*</label>
        <input type="text" class="form-control" formControlName="username" />
      </div>
      <div class="col d-flex align-items-end">
        <select
          class="form-select form-select-lg mb-3"
          aria-label=".form-select-lg example"
        >
          <option selected>Seleccionar localidad</option>
          <option value="2">CABA</option>
          <option value="1">GBA Norte</option>
          <option value="3">GBA Sur</option>
          <option value="3">Provincia de Buenos Aires</option>
        </select>
      </div>
    </div>
    <!-- Identification and phone number -->
    <div class="row mb-3">
      <div class="col">
        <label for="username">Identification*</label>
        <input
          type="text"
          class="form-control"
          placeholder="111.111.111"
          formControlName="identification"
        />

        <span
          class="form-text text-danger"
          *ngIf="validateLabel('identification')"
          >The identification is invalid</span
        >
      </div>

      <div class="col">
        <label for="username">Contact number</label>
        <input
          type="number"
          class="form-control"
          placeholder="+54 9 1123-9883"
          formControlName="number"
        />

        <span class="form-text text-danger" *ngIf="validateLabel('number')"
          >The number is invalid</span
        >
      </div>
    </div>
    <!-- Emails -->
    <div class="mb-3 row">
      <div class="col">
        <label class="form-label">Email address*</label>
        <input
          type="email"
          class="form-control"
          placeholder="booksie@mail.com"
          formControlName="email"
        />
        <div class="form-text text-muted" *ngIf="!labelTouched('email')">
          We'll never share your information with anyone else.
        </div>

        <span class="form-text text-danger" *ngIf="validateLabel('email')"
          >Email format is invalid</span
        >
      </div>
      <div class="col">
        <label class="form-label">Repeat mail address*</label>
        <input
          type="email"
          class="form-control"
          placeholder="booksie@mail.com"
          formControlName="repeatEmail"
        />

        <span class="form-text text-danger" *ngIf="validateLabel('repeatEmail')"
          >The emails must be equal</span
        >
      </div>
    </div>
    <!-- Passwords -->
    <div class="mb-3 row">
      <div class="col">
        <label class="form-label">Password*</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
        />

        <span class="form-text text-danger" *ngIf="validateLabel('password')"
          >Password must have at least 8 characters, 1 number and 1 special
          characters</span
        >
      </div>
      <div class="col">
        <label class="form-label">Repeat password*</label>
        <input
          type="password"
          class="form-control"
          formControlName="repeatPassword"
        />
        <span
          class="form-text text-danger"
          *ngIf="validateLabel('repeatPassword')"
          >Password must match</span
        >
      </div>
    </div>
    <!-- Terms and conditions -->
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" />
      <label class="form-check-label" formControlName="terms"
        >Accept terms and conditions</label
      >
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
  <!-- Login -->
  <div class="my-3">
    <p>
      Already have an account?
      <span
        class="text-primary"
        routerLink="/auth/login"
        style="cursor: pointer"
        >login here.</span
      >
    </p>
  </div>
</div>
