<div class="card__container row justify-content-around">
  <div
    *ngFor="let book of books"
    class="card shadow col-3 my-3 mx-1 px-0"
    [class]="{
      'col-3': isBookLend,
      row: isBookLend
    }"
  >
    <img
      [src]="
        book.volumeInfo.imageLinks.large
          ? book.volumeInfo.imageLinks.large
          : book.volumeInfo.imageLinks.medium
      "
      class="card-img-top"
      [alt]="book.volumeInfo.title"
    />
    <div class="card-title">
      <div class="card-body">
        <h5 class="card-title">
          {{ book.volumeInfo.title }}
        </h5>
        <p
          class="card-text"
          *ngIf="book.volumeInfo.description"
          [class]="{ 'd-none': isBookLend }"
        >
          {{ book.volumeInfo.description | description: 100 }}
        </p>
        <div class="buttons">
          <a
            [routerLink]="['/book/', book.id]"
            class="btn btn-primary flex-end btn-block"
            >More info</a
          >
          <button class="btn btn-danger mt-3 btn-block" *ngIf="isBookLend">
            Return book
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
