<div class="card__container d-flex row">
  <div class="card shadow col-3 m-3 px-0" style="width: 18rem">
    <img src="/assets/HP-5.jpg" class="card-img-top" alt="harry potter" />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        {{
          "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, quaeratconsectetur"
            | description: 100
        }}
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card shadow col-3 m-3 px-0" style="width: 18rem">
    <img src="/assets/HP-5.jpg" class="card-img-top" alt="harry potter" />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        {{
          "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut quidem minus, quam sapiente nam accusantium! Natus necessitatibus reprehenderit atque, adipisci, dignissimos unde voluptatibus provident recusandae tenetur qui, sint velit excepturi."
            | description: 100
        }}
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card shadow col-3 m-3 px-0" style="width: 18rem">
    <img src="/assets/HP-5.jpg" class="card-img-top" alt="harry potter" />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card shadow col-3 m-3 px-0" style="width: 18rem">
    <img src="/assets/HP-5.jpg" class="card-img-top" alt="harry potter" />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card shadow col-3 m-3 px-0" style="width: 18rem">
    <img src="/assets/HP-5.jpg" class="card-img-top" alt="harry potter" />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card shadow col-3 m-3 px-0" style="width: 18rem">
    <img src="/assets/HP-5.jpg" class="card-img-top" alt="harry potter" />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
